html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column nowrap;
    padding: 0em;
    margin: 0em;
    font-size: 1.5em;
    line-height: 1.25em;
    font-family: 'Inter', sans-serif;
    /* background-color: rgba(45, 37, 39, 0.799) ; */
    background-color: rgb(244, 241, 240);
    color: rgb(39, 39, 40);
}

header {
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
}

footer {
    background-color:#e93354;
    padding: 2em;
    margin: 0em;
}

footer h3 {
    color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
}

h1 a{
    font-size: 1.75em;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: rgba(216, 223, 227, 0.51);
    padding: 1em;
}

.nav div {
    padding: 1em;
}

/* .subject {
    display: none;
} */

.nav a {
    color: #e93354;
    font-size: 1.5em;
    text-decoration-color: white;
}

.nav a:hover {
    color: #3B9ABF;
}

.header-main-container {
    width: 100%;
}

.blog-header {
    width: 100%;
    background-color:#e93354;
    margin: 0em;
    padding: 1em;
}

.subject-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.subject-nav a {
    width: 30%;
}

.post-preview {
    background-color: rgba(216, 223, 227, 0.51);
    padding: 1em;
    margin: 1em 0em;
}

@media (min-width: 700px) {

    .nav {
        flex-flow: row nowrap;
    }

}

@media (min-width: 1100px) {
    
    main {
        display: flex;
        flex-flow: row nowrap;
    }

    header {
        width: 100%
    }

    .nav {
        flex-flow: column nowrap;
        width: 25%;
    }

    .main-container {
        width: 100%;
        padding: 1em 2em 0em 1em;
    }
}