{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Adventure Blog</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
    <body>
        {% csrf_token %}
        <header>
            <h1 class="title"><a href="{% url 'home' %}">On <br>Floof</a></h1>
            
            <details class="mobile-nav">
                <summary>Menu</summary>
                <div>
                    <a href="{% url 'home' %}">Blog</a>
                </div>
                <div class="subject-nav-mobile">
                    <div>
                        <a href="{% url 'hike' %}">Hiking</a>
                    </div>
                    <div>
                        <a href="{% url 'bike' %}">Cycling</a>
                    </div>
                    <div>
                        <a href="{% url 'mush' %}">Mushing</a>
                    </div>
                </div>
                <div>
                    <a href="{% url 'adopt' %}">Adopt</a>
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                </div>
                <div>
                    <a href="{% url 'contact' %}">Contact</a> 
                </div>   
            </details>

            <div class="nav">
                <div>
                    <a href="{% url 'home' %}">Blog</a>
                </div>
                <div>
                    <a href="{% url 'adopt' %}">Adopt</a>
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                </div>
                <div>
                    <a href="{% url 'contact' %}">Contact</a> 
                </div>   
            </div>

        </header>

        <main>
            
            <div class="header-main-container" id="app">
                {% block content %} 
                {% endblock content %}
            </div>

        </main>
        <footer>
            <h3>On Floof &copy;</h3>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="{% static 'javascript/app.js' %}"></script>
        <script>
            $(function () {
                $(document).scroll(function () {
                  var $navs = $("header");
                  $navs.toggleClass('scrolled', $(this).scrollTop() > $navs.height());
                });
              });
        </script>
   
    </body>
</html>
