{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Dog Finder, Adoption Tool</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
    <body>
        <header>
            <h1 class="title"><a href="{% url 'home' %}">On <br>Floof</a></h1>
            <div class="nav">
                <div>
                    <a href="{% url 'home' %}">Blog</a>
                </div>
                <div>
                    <a href="{% url 'adopt' %}">Adopt</a>
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                </div>
                <div>
                    <a href="{% url 'contact' %}">Contact</a> 
                </div>   
            </div>
        </header>

        <main>
            
            <!-- <div class="header-main-container" id="adopt"> -->
            <div>
                {% block content %} 
                {% endblock content %}
            </div>

        </main>
        <footer>
            <h3>On Floof &copy;</h3>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js"></script>
        <script src="/../static/javascript/dogDetail.js/"></script>
    </body>
</html>