{% extends 'base-dog-detail.html' %}

{% block content %}

<div class="home-container" id="dogDetail">
    <div class="main-image">
        <img :src="dogData.animal.photos[0].full" alt="Two huskies hiking in the Rocky mountains in Colorado">
        <div class="image-message">
            <h2>Doggie Name</h2>
            <!-- <div class="subject-nav">
                <div>
                    <a href="{% url 'home' %}">Hiking</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Cycling</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Mushing</a>
                </div>
            </div> -->
        </div>
    </div>

    <div class="main-container">
        <div class="blog-header">
            <h2>[[ dogData.animal.name ]]</h2>
        </div>
        <p>[[ dogData.animal ]]</p>
        <!-- <a href="{% url 'home' %}" v-for="post in postsList" :key="post.id" class="post-preview">
            <img :src="[[ post.previewImage ]]" alt="preview image for a blog post">
            <div class="preview-text-container">
                <h3>[[ post.title ]]</h3>
                <p><em>Created: [[ post.created ]]</em></p>
                <p class="preview-text">[[ post.previewText ]]...</p>
            </div>
        </a> -->

        <!-- here will be a similar for loop but for the dog's object (will organize the data into a lists of objects with each object
        being an individual dog), actually don't need a loop just have the pictures (preferably a slide show) in designated spots and descript with
        other information in specific spots. Dont need to go past the main image for the dog right now do that if you have time -->
        
    </div>
</div>

{% endblock content %}