{% extends 'base-dog-detail.html' %}

{% block content %}


<div class="home-container" id="dogDetail">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> -->
    
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img :src="dogData.animal.photos[0].full">
            </div>
            <div class="item" v-for="image in dogData.animal.photos">
                <img :src="image.full" alt="adoptable adventure dog">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><</span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">></span>
            <span class="sr-only">Next</span>
        </a>
    
    <!-- <div class="detail-img-container">
        <img v-for="image in dogData.animal.photos" :src="image.full" alt="Photo of adoptable dog"> -->
            
            <!-- <div class="slide-buttons">
                <a :href="slideNum"></a>
            </div>  -->
    </div>

    <div class="main-container">
        <div class="blog-header-dog">
            <h2>[[ dogData.animal.name ]]</h2>
            <p v-if="dogData.animal.breeds.primary != null">[[dogData.animal.breeds.primary]] 
                <span v-if="dogData.animal.breeds.secondary != null">and [[dogData.animal.breeds.secondary]] mix</span></p>
            <p v-if="dogData.animal.contact.address.city != null">[[dogData.animal.contact.address.city]]<span v-if="dogData.animal.contact.address.state != null">, [[dogData.animal.contact.address.state]]</span>
            </p>

            <div class="dog-tags">
            <span v-if="dogData.animal.age != null">[[dogData.animal.age]]</span>
            <span v-if="dogData.animal.gender != null">• [[dogData.animal.gender]]</span>
            <span v-if="dogData.animal.size != null">• [[dogData.animal.size]]</span>
            </div>

            <p>Get more information at <a v-if="dogData.animal.url != null" :href="dogData.animal.url">Petfinder</a></p>
        </div>

        <div class="dog-main-container">

            <div class="dog-info">

                <div class="dog-info-header">
                    <h3>About</h3>
                    <div class="tag-container">
                        <span v-for="tag in dogData.animal.tags">• [[ tag ]]</span>
                    </div>
            

                <div class="dog-info-main">
                    <div class="status-div">
                        <h4>Adoption Status</h4>
                        <p>[[dogData.animal.status]]</p>
                    </div>

                    <div class="trained-div">
                        <h4 v-if="dogData.animal.attributes.house_trained != null">House Trained</h4>
                        <p v-if="dogData.animal.attributes.house_trained === true">Yes</p>
                        <p v-if="dogData.animal.attributes.house_trained === false">No</p>
                    </div>

                    <div v-if="dogData.animal.environment.cats === false || dogData.animal.environment.children === false || dogData.animal.environment.dogs === false" class="home-div">
                        <h4>Prefers a home without:</h4>
                        <p v-if="dogData.animal.environment.children === false">Children</p>
                        <p v-if="dogData.animal.environment.dogs === false">Dogs</p>
                        <p v-if="dogData.animal.environment.cats === false">Cats</p>
                    </div>

                    <div class="health-div">
                        <h4>Health</h4>
                        <div class="health-tags-container">
                            <span v-if="dogData.animal.attributes.declawed === true">• Declawed</span>
                            <span v-if="dogData.animal.attributes.shots_current === true">• Shots current</span>
                            <span v-if="dogData.animal.attributes.shots_current === false">• Shots not current</span>
                            <span v-if="dogData.animal.attributes.spayed_neutered === true">• Spayed/Neutered</span>
                            <span v-if="dogData.animal.attributes.shots_current === false">• Not spayed/neutered</span>
                            <span v-if="dogData.animal.attributes.special_needs === true">• Special needs</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shelter-info" v-if="dogData.animal.contact.email != null">
                <div class="shelter-info-header"><h2>Contact</h2></div>
                <div class="shelter-info-main"><p>[[dogData.animal.contact.email]]</p></div>
            </div>
        </div>

        <!-- <a href="{% url 'home' %}" v-for="post in postsList" :key="post.id" class="post-preview">
            <img :src="[[ post.previewImage ]]" alt="preview image for a blog post">
            <div class="preview-text-container">
                <h3>[[ post.title ]]</h3>
                <p><em>Created: [[ post.created ]]</em></p>
                <p class="preview-text">[[ post.previewText ]]...</p>
            </div>
        </a> -->

        <!-- here will be a similar for loop but for the dog's object (will organize the data into a lists of objects with each object
        being an individual dog), actually don't need a loop just have the pictures (preferably a slide show) in designated spots and descript with
        other information in specific spots. Dont need to go past the main image for the dog right now do that if you have time -->
        
    </div>
</div>

{% endblock content %}