{% extends 'base.html' %}

{% block content %}

<div class="home-container" id="app">
    <div class="main-image">
        <img src="../static/images/main-wide.jpg/" alt="Two huskies hiking in the Rocky mountains in Colorado">
        <div class="image-message">
            <h2>Mushing</h2>
            <div class="subject-nav">
                <div>
                    <a href="{% url 'hike' %}">Hiking</a>
                </div>
                <div>
                    <a href="{% url 'bike' %}">Cycling</a>
                </div>
                <div>
                    <a href="{% url 'mush' %}">Mushing</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="blog-header">
            <h2>Recent Mushing Posts</h2>
        </div>
        <a href="{% url 'home' %}" v-for="post in postsList" :key="post.id" class="post-preview">
            <img :src="[[ post.previewImage ]]" alt="preview image for a blog post">
            <div class="preview-text-container">
                <h3>[[ post.title ]]</h3>
                <p><em>Created: [[ post.created ]]</em></p>
                <p class="preview-text">[[ post.previewText ]]...</p>
            </div>
        </a>
        
    </div>
</div>
    
{% endblock content %}