{% extends 'base-white.html' %}

{% block content %}

<div class="home-container" id="app">
    <div class="main-image">
        <img src="../static/images/main-wide.jpg/" alt="Two huskies hiking in the Rocky mountains in Colorado">
        <div class="image-message">
            <h2>Blog Detail Page</h2>
            <!-- <div class="subject-nav">
                <div>
                    <a href="{% url 'home' %}">Hiking</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Cycling</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Mushing</a>
                </div>
            </div> -->
        </div>
    </div>

    <div class="main-container">
        <div class="blog-header">
            <h2>[[ currentPost.title ]]</h2>
        </div>

        <div class="post-body">
            <p class="created">Written: <em>[[ currentPost.created ]]</em></p>
            <p>[[ currentPost.body ]]</p>
        </div>
        
        <div class="comment-section">

            <button @click="commentMode = !commentMode" class="comments-tab">Comments</button>

            <div class="comments-tab-container">

                <div v-if="commentMode === true">

                    <div class="comments-container" v-for="comment in currentPost.comment_detail">
                        <p class="comment-created"><em>Created: [[ comment.created ]]</em></p>
                        <p>[[ comment.comment ]]</p>
                    </div>

                    <div class="new-comment">
                        <textarea type="text" v-model="comment.comment" placeholder="Write a comment here..."></textarea>
                        <button @click="postComment" class="comments-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}