{% extends 'base.html' %}

{% block content %}

<div class="home-container" id="app">
    <div class="main-image">
        <img src="../static/images/main-wide.jpg/" alt="Two huskies hiking in the Rocky mountains in Colorado">
        <div class="image-message">
            <h2>Blog Detail Page</h2>
            <!-- <div class="subject-nav">
                <div>
                    <a href="{% url 'home' %}">Hiking</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Cycling</a>
                </div>
                <div>
                    <a href="{% url 'home' %}">Mushing</a>
                </div>
            </div> -->
        </div>
    </div>

    <div class="main-container">
        <div class="blog-header">
            <h2>Title Here</h2>
        </div>
        
        <p>Put the bost.body here, I am not sure how formatting will work for this page</p>
        <p>may need to brake blog posts down into section 1, 2, 3, and picture 1, 2, 3 in order to format them</p>
        <p>Automatically</p>

        <p>Will also want to create a side bar eventually with links to more posts perhaps in the same category this wouldn't be to hard to do</p>
        
    </div>
</div>
    
{% endblock content %}